{% extends "base.html" %}
{% block content %}

  <div class="jumbotron">
    <div align="center">
      <h1>Hey {{current_user.username}}!</h1><br>
      Keep track of your savings process below.
      <!-- insert image for person -->

    </div>
  </div>


  <div class = "container">

      <div class="card text-center">
        <div class="card-header">
             <h4 class="card-title">Outstanding Balance</h4>
        </div>
        <div class="card-body">
            <h2>{Insert value the person owes here}</h2><br />
          <a href="{{url_for('transactions.make_payment')}}" class="btn btn-outline-success btn-lg">Make a Payment</a>
        </div>
        <div class="card-footer text-muted">
          Due by {insert date}
        </div>
      </div> <br><br>



      <div class="dropdown">
        <button class="btn btn-outline-secondary btn-sm btn-block dropdown-toggle" type="button"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          More Stuff
        </button>
        <div class="dropdown-menu w-100" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#" style="font-size:12px">Payment Settings</a>
          <a class="dropdown-item" href="{{url_for('users.transaction_history', username = current_user.username)}}" style="font-size:12px">Transaction History</a>
        </div>
      </div>
    </div>

  {% endblock %}
