{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
          <div class="row justify-content-center">
        <div class="card text-white bg-warning mb-3" style="max-width: 100rem;">
          <div class="card-header">Let's Loan This Loaf</div>
          <div class="card-body">
            <p class="card-text">A solution created by Caitlin Becker, Justin Calloway, Brian Lu, and Neha Sharma.</p>
          </div>
        <img style="height: 450px; width: 100%; display: block;" src="https://secureimg.stitcher.com/feedimagesplain328/249807.jpg" alt="Card image">
  </div>
          </div>
    </div>
<div class="carousel-item">
    <div class="card border-success mb-3" style="max-width: 50rem;">
  <div class="card-header">Description</div>
  <div class="card-body">
    <p class="card-text">For those who live paycheck to paycheck, a relatively minor emergency can become a catastrophe.
    Problems that may cost hundreds of dollars to solve balloon into issues that can wreck a family's fiscal future.
    Payday loans charge exorbitant interest rates in the hopes of trapping people in an endless cycle.  Those with
    poor credit may be turned away by traditional banks, leading many the charge their nearly maxed out credit cards
    and continuing the cycle of debt.  Our solution is to create a collective emergency fund called Let's Loan This Loaf.
    Instead of large interest rates that loom over you until you pay back the bank, you create a contract with your
    friend group that details how much everyone contributes and what constitutes a withdrawal.  When you get back on
    your feet, you pay in the loan back in full and no more.  This way, friends have an easy, secure way to lend each other
    money during a crisis, ensure they get their money back, and avoid getting trapped in the cycle of debt.</p>
  </div>
</div>
    </div>
      <div class="carousel-item">
    <div class="row justify-content-center">
        <div class="card text-white bg-info mb-3" style="max-width: 100rem;">
          <div class="card-header">Caitlin Becker</div>
          <div class="card-body">
            <p class="card-text">A solution created by Caitlin Becker, Justin Calloway, Brian Lu, and Neha Sharma.</p>
          </div>
        <img style="height: 450px; width: 100%; display: block;" src="https://secureimg.stitcher.com/feedimagesplain328/249807.jpg" alt="Card image">
  <br>
        </div>
          </div>

              <div class="row justify-content-center">
        <div class="card text-white bg-info mb-3" style="max-width: 100rem;">
          <div class="card-header">Justin Calloway</div>
          <div class="card-body">
            <p class="card-text">A solution created by Caitlin Becker, Justin Calloway, Brian Lu, and Neha Sharma.</p>
          </div>
        <img style="height: 450px; width: 100%; display: block;" src="https://secureimg.stitcher.com/feedimagesplain328/249807.jpg" alt="Card image">
  <br>
        </div>
          </div>

              <div class="row justify-content-center">
        <div class="card text-white bg-info mb-3" style="max-width: 100rem;">
          <div class="card-header">Brian Lu</div>
          <div class="card-body">
            <p class="card-text">A solution created by Caitlin Becker, Justin Calloway, Brian Lu, and Neha Sharma.</p>
          </div>
        <img style="height: 450px; width: 100%; display: block;" src="https://secureimg.stitcher.com/feedimagesplain328/249807.jpg" alt="Card image">
  <br>
        </div>
          </div>

              <div class="row justify-content-center">
        <div class="card text-white bg-info mb-3" style="max-width: 100rem;">
          <div class="card-header">Neha Sharma</div>
          <div class="card-body">
            <p class="card-text">A solution created by Caitlin Becker, Justin Calloway, Brian Lu, and Neha Sharma.</p>
          </div>
        <img style="height: 450px; width: 100%; display: block;" src="https://secureimg.stitcher.com/feedimagesplain328/249807.jpg" alt="Card image">
  <br>
        </div>
    </div>
</div>

  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
{% endblock %}

<!--<div class="container">
  <div class="row justify-content-center">
    <div class="col-0">
<div class="card text-white bg-warning mb-3" style="max-width: 100rem;">
  <div class="card-header">Let's Loan This Loaf</div>
  <div class="card-body">
    <p class="card-text">A solution created by Caitlin Becker, Justin Calloway, Brian Lu, and Neha Sharma.</p>
  </div>
<img style="height: 450px; width: 100%; display: block;" src="https://secureimg.stitcher.com/feedimagesplain328/249807.jpg" alt="Card image">
</div>
        </div>
    <div class="col-5">
        <div class="card border-success mb-3" style="max-width: 100rem;">
  <div class="card-header">Description</div>
  <div class="card-body">
    <p class="card-text">For those who live paycheck to paycheck, a relatively minor emergency can become a catastrophe.
    Problems that may cost hundreds of dollars to solve balloon into issues that can wreck a family's fiscal future.
    Payday loans charge exorbitant interest rates in the hopes of trapping people in an endless cycle.  Those with
    poor credit may be turned away by traditional banks, leading many the charge their nearly maxed out credit cards
    and continuing the cycle of debt.  Our solution is to create a collective emergency fund called Let's Loan This Loaf.
    Instead of large interest rates that loom over you until you pay back the bank, you create a contract with your
    friend group that details how much everyone contributes and what constitutes a withdrawal.  When you get back on
    your feet, you pay in the loan back in full and no more.  This way, friends have an easy, secure way to lend each other
    money during a crisis, ensure they get their money back, and avoid getting trapped in the cycle of debt.</p>
  </div>
</div>-->
