{% extends "base.html"%}
{% block content %}
<html>
<head>
<style>
body {
  background-image: url("https://secureimg.stitcher.com/feedimagesplain328/249807.jpg");
}
</style>
</head>

<body>
<div class="p-3 mb-2 bg-warning text-dark">Log in to loan the loaf!</div>
  <form class="form-group" method="post">
    {{form.hidden_tag()}}
    {{form.csrf_token}}

    <div class="p-3 mb-2 bg-warning text-dark">Username</div>
      {{form.username(class="form-control form-control-sm")}}<br>

    <div class="p-3 mb-2 bg-warning text-dark">Password</div>
      {{form.password(class="form-control form-control-sm")}}<br>

    <div class="form-group"><br>
        {{form.submit(class="btn btn-primary")}}
    </div>

    <p>
      Don't have an account? Sign up <a href="{{url_for('users.register')}}">here!</a>
      </p>
  </form>
  </div>
</body>
</html>


  {% endblock %}
