{% extends "base.html" %}
{% block content %}
<div class="container">
  <br><br>
  <div class="jumbotron">

    <h1>Make a Payment</h1><br>
  <form class="form-group" method="post">
    {{form.hidden_tag()}}

    <div class="form-group">

      {{form.amount.label(class="form-control-label")}}
      {{form.amount(class="form-control mx-sm-1")}}
    </div>
    <div class="form-group">
      {{form.notes.label(class="form-control-label")}}
      {{form.notes(class="form-control mx-sm-1")}}

    </div>
    <div class="form-group">
      <button type="button" class="btn btn-outline-info mx-sm-1 col-sm-2" data-toggle="modal" data-target="#myModal">Pay</button>
    </div>

    <!-- Trigger the modal with a button -->


  <!-- Modal -->
  <div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Confirmation</h4>
        </div>
        <div class="modal-body">
          <p>Are you sure you'd like to make a deposit?</p>
        </div>
        <div class="modal-footer">
          {{form.submit(class="form-control btn btn-outline-info")}}
        </div>
      </div>

    </div>
  </div>

  </form>
    </div>
</div>
{%endblock%}
