{% extends "base.html"%}
{% block content %}
<div class="jumbotron">
  <h1>Let's Bag this Bread.</h1>

  <form method="POST">
    {{form.hidden_tag()}}
    {{form.csrf_token}}

    <div class="form-group">
      <label for="email">{{form.email.label}}</label>
      {{form.email(class="form-control form-control-sm")}}
    </div>

    <div class="form-group">
      <label for="username">{{form.username.label}}</label>
      {{form.username(class="form-control form-control-sm")}}
    </div>

    <div class="form-group">
      <label for="password">{{form.password.label}}</label>
      {{form.password(class="form-control form-control-sm")}}
    </div>

    <div class="form-group">
      <label for="confirm-password">{{form.pass_confirm.label}}</label>
      {{form.pass_confirm(class="form-control form-control-sm")}}
    </div>

    <div class="form-group">
        {{form.submit(class="btn btn-primary")}}
    </div>

    </div>

  </form>
{% endblock %}
