{% extends "base.html"%}
{% block content %}
<div class="p-3 mb-2 bg-warning text-dark">Let's Bag This Bread.</div><br>

  <form method="POST">
    {{form.hidden_tag()}}
    {{form.csrf_token}}

    <div class="p-3 mb-2 bg-warning text-dark">Email</div>
      {{form.email(class="form-control form-control-sm")}}<br>


    <div class="p-3 mb-2 bg-warning text-dark">Username</div>
      {{form.username(class="form-control form-control-sm")}}<br>

    <div class="p-3 mb-2 bg-warning text-dark">Password</div>
      {{form.password(class="form-control form-control-sm")}}<br>

    <div class="p-3 mb-2 bg-warning text-dark">Confirm Password</div>
      {{form.pass_confirm(class="form-control form-control-sm")}}<br>

    <div class="form-group">
        {{form.submit(class="btn btn-primary")}}
    </div>

    </div>

  </form>

{% endblock %}
